form{
  padding: 20px;
}
mat-card{
  padding: 0px;
}
.body{
  padding-top: 120px ;
  padding-bottom: 120px  ;
  padding-left : 150px  ;
  padding-right:50px ;
  background-image: url("../../../assets/images/home_screen_bg.jpg");
  background-repeat: no-repeat;
  background-size: 800px 600px;
  position: relative;
  height: 100%;
}
.slogan{
  color:#D84315; font-family: 'Helvetica Neue', sans-serif; font-size: 45px; 
  font-weight: bold;
   letter-spacing: -1px; line-height: 1; text-align: center;  padding: 50px 130px 0px ; 
}
.usercard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  border-radius: 50%;
  background: #ffb74d;
  padding: 70px;
  top: -23%;
  left: 30%;
}
.brand_logo {
  position: absolute;
  top:4%;
  left: 4.1%;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  border: 2px solid white;
}
.btn {
  border-radius: 25px;
  border: 2px solid #ffb74d;
  background-color: #ffb74d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.title{
  color: #ffb74d;
  font-weight: bold;
  background-color: white;
  margin-top: 15%;
}
