
.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.DatePicker{
  margin-right: 12px;
}
table {
  width: 97%;
  height:  70%;
}

.background{
  background-color: cornsilk;
}



.example-container {
  height: 350px;
  width: 97%;
  overflow: auto;
}

.mat-table-sticky {
  background: #263238;
  opacity: 1;

}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0px ;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell-small {
  min-width: 70px;
  max-width: 100px;
  box-sizing: border-box;
  font-size: 16px;
  color: aliceblue;
}
.mat-cell-small {
  min-width: 70px;
  max-width: 100px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}

.mat-header-cell-large {

  min-width: 100px;
  max-width: 180px;
  box-sizing: border-box;
  font-size: 16px;
  color: aliceblue;
}
.mat-cell-large {
  min-width: 100px;
  max-width: 180px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}


.mat-cell-large-input-dc {
  min-width: 130px;
  max-width: 200px;
  font-size: 12px;
  color: #263238;
}


.mat-cell-large-input-date {
  min-width: 120px;
  max-width: 180px;
  font-size: 12px;
}

.mat-header-cell-mill {
  min-width: 250px;
  max-width: 330px;
  box-sizing: border-box;
  color: aliceblue;
}



.mat-cell-mill {
  min-width: 250px;
  max-width: 330px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}

.mat-cell-large-input-mill {
  min-width: 250px;
  max-width: 330px;
  font-size: 12px;
}
.mat-cell-large-input-dia {
  min-width: 100px;
  max-width: 140px;
  font-size: 12px;
}
.mat-cell-small-input-weight {
  min-width: 70px;
  max-width: 100px;
  font-size: 12px;
}

.mat-cell-large-input-price {
  min-width: 100px;
  max-width: 140px;
  font-size: 12px;
}

.mat-cell-large-input-amount {
  min-width: 100px;
  max-width: 150px;
  font-size: 12px;
}
.mat-header-cell-sno {
  min-width: 30px;
  max-width: 60px;
  box-sizing: border-box;
  font-size: 16px;
  color: aliceblue;
}
.mat-cell-sno {
  min-width: 30px;
  max-width: 60px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}


.add-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
