<div class="background">

  <mat-grid-list  cols="5" rowHeight="70px">
    <mat-grid-tile
        colspan="1"
        rowspan="1" style="font-size: 12px;" >
          <mat-form-field color="warn" appearance="outline">
            <mat-label>Invoice No</mat-label>
            <input class="billno" matInput disabled="true"  value="1213">
            <mat-icon color="primary" matSuffix>receipt</mat-icon>
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1" style="font-size: 12px;">
      <form>
        <mat-form-field color="primary"  appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input color="primary"
            matInput [matDatepicker]="picker" [value]="date.value" >
          <mat-datepicker-toggle color="primary"  matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker color="primary"  #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1" style="font-size: 12px;">
          <mat-form-field  appearance="outline">
            <mat-label>Customer</mat-label>
            <input type="text"
                   placeholder="Customer"
                   aria-label="Number"
                   matInput
                   [formControl]="customerControl"
                   [matAutocomplete]="autoCustomer">
            <mat-autocomplete #autoCustomer="matAutocomplete">
              <mat-option *ngFor="let option of filteredCustomerOptions | async"  [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon color="primary" matSuffix>business</mat-icon>
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1" style="font-size: 12px;" >

          <mat-form-field appearance="outline">
            <mat-label>GSTIN</mat-label>
            <input matInput placeholder="GSTIN" required>
            <mat-icon color="primary" matSuffix>add_box</mat-icon>
          </mat-form-field>

    </mat-grid-tile>


    <mat-grid-tile
        colspan="1"
        rowspan="2" style="font-size: 12px;" >

        <form>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput style="height:'77px'" placeholder="Address"></textarea>
          <mat-icon color="primary" matPrefix>home</mat-icon>
          </mat-form-field>
        </form>
    </mat-grid-tile>

    <mat-grid-tile
    colspan="1"
    rowspan="1" style="font-size: 12px;">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Phone No</mat-label>
        <mat-icon color="primary" matSuffix>phone</mat-icon>
        <input  matInput  placeholder="phone"  required type="number">
      </mat-form-field>
    </form>
  </mat-grid-tile>

    <mat-grid-tile
    colspan="1"
    rowspan="1" style="font-size: 12px;">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Job</mat-label>
        <input color="primary" matInput placeholder="Job">
        <mat-icon color="primary" matSuffix>work</mat-icon>
      </mat-form-field>
    </form>
</mat-grid-tile>

<mat-grid-tile
colspan="1"
rowspan="1" style="font-size: 12px;">
<form>
  <mat-form-field appearance="outline">
    <mat-label>Party DC No</mat-label>
    <input matInput placeholder="Party DC No">
    <mat-icon color="primary" matSuffix>note_add</mat-icon>
  </mat-form-field>
</form>
</mat-grid-tile>

<mat-grid-tile
colspan="1"
rowspan="1" style="font-size: 12px;">
<form>
  <mat-form-field appearance="outline" >
    <mat-label>Reference</mat-label>
    <input matInput placeholder="Reference">
    <mat-icon color="primary" matSuffix>notes</mat-icon>
  </mat-form-field>
</form>
</mat-grid-tile>

<mat-grid-tile
colspan="5"
rowspan="1" style="font-size: 12px;">

<div >

  <form (submit)="add(tableRow)" #tableRow="ngForm">
    <mat-form-field class="mat-cell-large" appearance="outline">
      <mat-label>DC</mat-label>
      <input color="primary"
      #dc="ngModel"
      ngModel
      required
      name="dc"
      matInput placeholder="DC">
      <mat-error color="warn"  *ngIf="dc.invalid && !tableRowformValid">Please Enter DC</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-large" appearance="outline">
        <mat-label>Date</mat-label>
        <input color="primary"
        [formControl]="rowDate"
        matInput [matDatepicker]="rowPicker"
        required
        placeholder="Date" >
        <mat-datepicker-toggle color="primary"  matSuffix [for]="rowPicker"></mat-datepicker-toggle>
        <mat-datepicker color="primary"  #rowPicker></mat-datepicker>
      </mat-form-field>

    <mat-form-field class="mat-cell-large" appearance="outline">
      <mat-label>Fabric</mat-label>
      <input type="text" color="primary"
                   placeholder="Fabric"
                   aria-label="Number"
                   matInput
                   #fabric
                   name="fabric"
                   [formControl]="fabricControl"
                   [matAutocomplete]="autoFabric"
                   required>
            <mat-autocomplete #autoFabric="matAutocomplete">
              <mat-option *ngFor="let option of filteredFabricOptions | async"  [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
      <mat-error color="warn"   *ngIf="fabric.invalid && !tableRowformValid">Please Select Date</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-vsmall" appearance="outline">
      <mat-label>Count</mat-label>
      <input color="primary"
      #count="ngModel"
      required
      [(ngModel)] = "rowCount"
      name="count"
      matInput placeholder="Count"
      type ="number">
      <mat-error color="warn"   *ngIf="count.invalid && !tableRowformValid">Please Enter Count</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-xlarge" appearance="outline">
      <mat-label>Mill</mat-label>
      <input type="text" color="primary"
                   placeholder="Mill"
                   aria-label="Number"
                   matInput
                   #mill
                   name="mill"
                   [formControl]="millControl"
                   [matAutocomplete]="autoMill"
                   required>
            <mat-autocomplete #autoMill="matAutocomplete">
              <mat-option *ngFor="let option of filteredMillOptions | async"  [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
      <mat-error  color="warn"  *ngIf="mill.invalid && !tableRowformValid">Please Enter Mill</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-large" appearance="outline">
      <mat-label>Dia</mat-label>
      <input color="primary"
      #dia="ngModel"
      ngModel
      required
      name="dia"
      matInput placeholder="Dia">
      <mat-error color="warn"   *ngIf="dia.invalid && !tableRowformValid">Please Enter Dia</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-vsmall" appearance="outline">
      <mat-label>Weight</mat-label>
      <input color="primary"
      #weight="ngModel"
      required
      name="weight"
      [(ngModel)] = "rowWeight"
      type ="number"
      matInput placeholder="Weight">
      <mat-error color="warn"   *ngIf="weight.invalid && !tableRowformValid">Please Enter Weight</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-small" appearance="outline">
      <mat-label>Price</mat-label>
      <input color="primary"
      [(ngModel)] = "rowPrice"
      #price="ngModel"
      required
      name="price"
      type ="number"
      matInput placeholder="Price"
     >
      <mat-error color="warn"   *ngIf="price.invalid && !tableRowformValid">Please Enter Price</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-small"  appearance="outline">
      <mat-label>Amount</mat-label>
      <input color="primary"
      #amount="ngModel"
      [(ngModel)] = "rowPrice * rowWeight * rowCount"
      required
      type ="number"
      name="amount"
      matInput placeholder="Amount" disabled >
    </mat-form-field>


      <button mat-mini-fab color="warn" type="submit" >
        <mat-icon>add</mat-icon>
      </button>

  </form>
</div>
</mat-grid-tile>
<mat-grid-tile
colspan="5"
rowspan="4" style="font-size: 12px;"   >


<div class="example-container">

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="sno">
        <mat-header-cell class="mat-cell-vsmall" *matHeaderCellDef mat-sort-header>Sno</mat-header-cell>
        <mat-cell class="mat-cell-vsmall" *matCellDef="let element">{{element.sno}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dc">
            <mat-header-cell  class="mat-cell-large" *matHeaderCellDef mat-sort-header>Dc</mat-header-cell>
            <mat-cell  class="mat-cell-large" *matCellDef="let element">{{element.dc}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
            <mat-header-cell class="mat-cell-large" *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
            <mat-cell class="mat-cell-large" *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fabric">
            <mat-header-cell class="mat-cell-large" *matHeaderCellDef mat-sort-header>Fabric</mat-header-cell>
            <mat-cell class="mat-cell-large" *matCellDef="let element">{{element.fabric}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
        <mat-header-cell class="mat-cell-vsmall" *matHeaderCellDef mat-sort-header>Count</mat-header-cell>
        <mat-cell class="mat-cell-vsmall" *matCellDef="let element">{{element.count}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mill">
      <mat-header-cell class="mat-cell-xlarge" *matHeaderCellDef mat-sort-header>Mill</mat-header-cell>
      <mat-cell class="mat-cell-xlarge" *matCellDef="let element">{{element.mill}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dia">
    <mat-header-cell  class="mat-cell-large" *matHeaderCellDef mat-sort-header>Dia</mat-header-cell>
    <mat-cell class="mat-cell-large" *matCellDef="let element">{{element.dia}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="weight">
    <mat-header-cell class="mat-cell-large" *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
    <mat-cell  class="mat-cell-large" *matCellDef="let element">{{element.weight}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell class="mat-cell-vsmall" *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
    <mat-cell class="mat-cell-vsmall"*matCellDef="let element">{{element.price}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell class="mat-cell-small" *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
    <mat-cell class="mat-cell-small" *matCellDef="let element">{{element.amount}}</mat-cell>
  </ng-container>

    <ng-container matColumnDef="edit">
            <mat-header-cell class="mat-cell-xvsmall" *matHeaderCellDef>Edit</mat-header-cell>
            <mat-cell class="mat-cell-xvsmall" *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="edit(row.sno,tableRow)" ><mat-icon>edit_outline</mat-icon></button>
            </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell class="mat-cell-xvsmall" *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell class="mat-cell-xvsmall" *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="delete(row.sno)" ><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</div>

</mat-grid-tile>


<mat-grid-tile
colspan="5"
rowHeight ="fit" style="font-size: 12px;">
    <div class="footer">
      <h3   style="float: left;">CGST : {{     getCGST()      }}</h3>
      <h3   style="float:left;">SGST : {{ getSGST()  }}</h3>
      <h3   style="float:left;">Total : {{  getTotalCost()  }} </h3>
      </div>
    <div class="footer">
      <h1   style="float:right;">GrandTotal :  {{ getGrandTotal()  }}</h1>

    </div>
</mat-grid-tile>
</mat-grid-list>
</div>




