<div class="">

  <mat-grid-list  cols="5" rowHeight="70px">
    <form (ngSubmit)="saveInvoice(invoiceForm,tableRow)" #invoiceForm="ngForm" >
    <mat-grid-tile
        colspan="1"
        rowspan="1" style="font-size: 12px;" >
          <mat-form-field color="warn" appearance="outline">
            <mat-label>Invoice No</mat-label>
            <input class="billno"
             name="invoiceNo"
             [value]="invoiceNo"
             disabled
             matInput>
            <mat-icon color="primary" matSuffix>receipt</mat-icon>
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1" style="font-size: 12px;">
        <mat-form-field color="primary"  appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input
           color="primary"
           matInput
           [matDatepicker]="picker"
           [formControl]="date"
           required
           >
          <mat-datepicker-toggle color="primary"  matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker color="primary"  #picker></mat-datepicker>
          <mat-error color="warn"  *ngIf="date.invalid && !invoiceFormValid">select proper date</mat-error>
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1" style="font-size: 12px;">
          <mat-form-field  appearance="outline">
            <mat-label>Customer</mat-label>
            <input type="text"
                   placeholder="Customer"
                   aria-label="Number"
                   matInput
                   required
                   [formControl]="customerControl"
                   [matAutocomplete]="autoCustomer" (onSelectionChange)="fetchCustomer()">
            <mat-autocomplete #autoCustomer="matAutocomplete">
              <mat-option *ngFor="let option of filteredCustomerOptions | async"  [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon color="primary" matSuffix>business</mat-icon>
            <mat-error color="warn"  *ngIf="customerControl.invalid && !invoiceFormValid">Enter Customer</mat-error>
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1" style="font-size: 12px;" >

          <mat-form-field appearance="outline">
            <mat-label>GSTIN</mat-label>
            <input matInput
             #gstNo = "ngModel"
             ngModel
             name="gstNo"
             placeholder="GSTIN" maxlength="15" minlength="15"  required>
            <mat-icon color="primary" matSuffix>add_box</mat-icon>
            <mat-error color="warn"  *ngIf="gstNo.invalid && !invoiceFormValid">Enter GSTTIN</mat-error>
          </mat-form-field>

    </mat-grid-tile>


    <mat-grid-tile
        colspan="1"
        rowspan="2" style="font-size: 12px;" >
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <textarea
            #address = "ngModel"
             ngModel
             name="address"
             placeholder="Address"
             matInput style="height:'77px'"></textarea>
          <mat-icon color="primary" matPrefix>home</mat-icon>
           </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
    colspan="1"
    rowspan="1" style="font-size: 12px;">
      <mat-form-field appearance="outline">
        <mat-label>Phone No</mat-label>
        <mat-icon color="primary" matSuffix>phone</mat-icon>
        <input  matInput
        #phoneNo = "ngModel"
        ngModel
        name="phoneNo"
        required
        type="text" pattern="\d*" maxlength="10" minlength="10"
        placeholder="Phone No"  required >
        <mat-error color="warn"  *ngIf="phoneNo.invalid && !invoiceFormValid">Enter 10 digit Phone No</mat-error>
      </mat-form-field>
  </mat-grid-tile>

    <mat-grid-tile
    colspan="1"
    rowspan="1" style="font-size: 12px;">
      <mat-form-field appearance="outline">
        <mat-label>Job</mat-label>
        <input color="primary"
        #job = "ngModel"
        ngModel
        name="job"
        matInput placeholder="Job">
        <mat-icon color="primary" matSuffix>work</mat-icon>
      </mat-form-field>
</mat-grid-tile>

<mat-grid-tile
colspan="1"
rowspan="1" style="font-size: 12px;">
  <mat-form-field appearance="outline">
    <mat-label>Party DC No</mat-label>
    <input
    #partyDcNo = "ngModel"
    ngModel
    name="partyDcNo"
    matInput placeholder="Party DC No">
    <mat-icon color="primary" matSuffix>note_add</mat-icon>
  </mat-form-field>
</mat-grid-tile>

<mat-grid-tile
colspan="1"
rowspan="1" style="font-size: 12px;">
  <mat-form-field appearance="outline" >
    <mat-label>Reference</mat-label>
    <input
    #reference = "ngModel"
    ngModel
    name="reference"
    matInput placeholder="Reference">
    <mat-icon color="primary" matSuffix>notes</mat-icon>
  </mat-form-field>
</mat-grid-tile>
</form>
<mat-grid-tile
colspan="5"
rowspan="1" style="font-size: 12px;">

<div>
  <form (submit)="add(tableRow)" #tableRow="ngForm">
    <mat-form-field class="mat-cell-large" appearance="outline">
      <mat-label>DC</mat-label>
      <input color="primary"
      #dc="ngModel"
      ngModel
      required
      name="dc"
      matInput placeholder="DC">
      <mat-error color="warn"  *ngIf="dc.invalid && !tableRowformValid">Enter DC</mat-error>
    </mat-form-field>
    <mat-form-field class="mat-cell-large" appearance="outline">
      <mat-label>Date</mat-label>
      <input color="primary"
      [formControl]="rowDate"
      matInput [matDatepicker]="rowPicker"
      required
      placeholder="Date" >
      <mat-datepicker-toggle color="primary"  matSuffix [for]="rowPicker"></mat-datepicker-toggle>
      <mat-datepicker color="primary"  #rowPicker></mat-datepicker>
      <mat-error color="warn"   *ngIf="rowDate.invalid && !tableRowformValid">Select Proper Date</mat-error>
    </mat-form-field>
    <mat-form-field class="mat-cell-large" appearance="outline">
      <mat-label>Fabric</mat-label>
      <input type="text" color="primary"
                   placeholder="Fabric"
                   aria-label="Number"
                   matInput
                   name="fabric"
                   [formControl]="fabricControl"
                   [matAutocomplete]="autoFabric"
                   required>
            <mat-autocomplete #autoFabric="matAutocomplete">
              <mat-option *ngFor="let option of filteredFabricOptions | async"  [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
      <mat-error color="warn"   *ngIf="fabricControl.invalid && !tableRowformValid">Enter Fabric</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-vsmall" appearance="outline">
      <mat-label>Count</mat-label>
      <input color="primary"
      #count="ngModel"
      required
      [(ngModel)] = "rowCount"
      name="count"
      matInput placeholder="Count"
      type="text" pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)\d*">
      <mat-error color="warn"   *ngIf="count.invalid && !tableRowformValid && count.value<1">Please Enter Count</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-xlarge" appearance="outline">
      <mat-label>Mill</mat-label>
      <input type="text" color="primary"
                   placeholder="Mill"
                   aria-label="Number"
                   matInput
                   name="mill"
                   [formControl]="millControl"
                   [matAutocomplete]="autoMill"
                   required>
            <mat-autocomplete #autoMill="matAutocomplete">
              <mat-option *ngFor="let option of filteredMillOptions | async"  [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
      <mat-error  color="warn"  *ngIf="millControl.invalid && !tableRowformValid">Enter Mill</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-large" appearance="outline">
      <mat-label>Dia</mat-label>
      <input color="primary"
      #dia="ngModel"
      ngModel
      required
      name="dia"
      matInput placeholder="Dia">
      <mat-error color="warn"   *ngIf="dia.invalid && !tableRowformValid">Enter Dia</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-vsmall" appearance="outline">
      <mat-label>Weight</mat-label>
      <input color="primary"
      #weight="ngModel"
      required
      name="weight"
      [(ngModel)] = "rowWeight"
      type="text"
      matInput placeholder="Weight"
      pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)\d*">
      <mat-error color="warn"   *ngIf="weight.invalid && !tableRowformValid">Enter Weight</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-small" appearance="outline">
      <mat-label>Price</mat-label>
      <input color="primary"
      [(ngModel)] = "rowPrice"
      #price="ngModel"
      required
      name="price"
      type="text" pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)\d*"
      matInput placeholder="Price">
      <mat-error color="warn"   *ngIf="price.invalid && !tableRowformValid">Enter Price</mat-error>
    </mat-form-field>

    <mat-form-field class="mat-cell-small"  appearance="outline">
      <mat-label>Amount</mat-label>
      <input color="primary"
      #amount="ngModel"
      [(ngModel)] = "rowPrice * rowWeight * rowCount"
      required
      type ="number"
      name="amount"
      matInput placeholder="Amount" disabled >
    </mat-form-field>


      <button mat-mini-fab color="warn" type="submit" >
        <mat-icon>add</mat-icon>
      </button>

  </form>
</div>
</mat-grid-tile>
<mat-grid-tile
colspan="5"
rowspan="4" >


<div class="example-container" >

  <mat-table [dataSource]="dataSource" matSort >
    <ng-container matColumnDef="sno">
        <mat-header-cell class="mat-cell-vsmall"  *matHeaderCellDef mat-sort-header>Sno</mat-header-cell>
        <mat-cell class="mat-cell-vsmall" *matCellDef="let element">{{element.sno}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dc">
            <mat-header-cell  class="mat-cell-large" *matHeaderCellDef mat-sort-header>Dc</mat-header-cell>
            <mat-cell  class="mat-cell-large" *matCellDef="let element">{{element.dc}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
            <mat-header-cell class="mat-cell-large" *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
            <mat-cell class="mat-cell-large" *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fabric">
            <mat-header-cell class="mat-cell-large" *matHeaderCellDef mat-sort-header>Fabric</mat-header-cell>
            <mat-cell class="mat-cell-large" *matCellDef="let element">{{element.fabric}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
        <mat-header-cell class="mat-cell-vsmall" *matHeaderCellDef mat-sort-header>Count</mat-header-cell>
        <mat-cell class="mat-cell-vsmall" *matCellDef="let element">{{element.count}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mill">
      <mat-header-cell class="mat-cell-xlarge" *matHeaderCellDef mat-sort-header>Mill</mat-header-cell>
      <mat-cell class="mat-cell-xlarge" *matCellDef="let element">{{element.mill}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dia">
    <mat-header-cell  class="mat-cell-large" *matHeaderCellDef mat-sort-header>Dia</mat-header-cell>
    <mat-cell class="mat-cell-large" *matCellDef="let element">{{element.dia}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="weight">
    <mat-header-cell class="mat-cell-large" *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
    <mat-cell  class="mat-cell-large" *matCellDef="let element">{{element.weight}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell class="mat-cell-vsmall" *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
    <mat-cell class="mat-cell-vsmall"*matCellDef="let element">{{element.price}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell class="mat-cell-small" *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
    <mat-cell class="mat-cell-small" *matCellDef="let element">{{element.amount}}</mat-cell>
  </ng-container>

    <ng-container matColumnDef="edit">
            <mat-header-cell class="mat-cell-xvsmall" *matHeaderCellDef>Edit</mat-header-cell>
            <mat-cell class="mat-cell-xvsmall" *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="edit(row.sno,tableRow)" ><mat-icon>edit_outline</mat-icon></button>
            </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell class="mat-cell-xvsmall" *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell class="mat-cell-xvsmall" *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="delete(row.sno)" >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</div>

</mat-grid-tile>


<mat-grid-tile
colspan="5"
rowHeight ="fit" style="font-size: 12px;">
    <div class="footer">
      <h3   style="float: left;">CGST : {{     getCGST()      }}</h3>
      <h3   style="float:left;">SGST : {{ getSGST()  }}</h3>
      <h3   style="float:left;">Total : {{  getTotalCost()  }} </h3>

      <h1   style="float:right;">GrandTotal <mat-icon>₹</mat-icon> {{ getGrandTotal()  }}</h1>
    </div>
</mat-grid-tile>
</mat-grid-list>

      <div class="footerButtonDiv">
        <input class="footerButtonViewInput" #viewInvoiceNo color="primary"
        required
        name="viewInvoiceNo"
        placeholder="InvoiceNo">
          <button color="primary" type="submit" class="footerButton" (click)="invoiceForm.valid;invoiceForm.ngSubmit.emit();"  mat-stroked-button>Save</button>
          <button color="primary" class="footerButton" (click)="cancelInvoice(invoiceForm,tableRow)" mat-stroked-button>Cancel</button>
          <button color="primary" type="button" class="footerButtonView" (click)="viewInvoice(viewInvoiceNo.value)"  mat-stroked-button>View</button>

      </div>
</div>




