
.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.DatePicker{
  margin-right: 12px;
}
table {
  width: 97%;
  height:  70%;
}

.background{
  background-color: cornsilk;
}



.example-container {
  height: 300px;
  width: 97%;
  overflow: auto;
}

.mat-table-sticky {
  background: #263238;
  opacity: 1;

}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0px ;
  font-size: 10px;
  text-align: center;
}


.mat-cell-xvsmall {
  min-width: 40px;
  max-width: 60px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}
.mat-cell-vsmall {
  min-width: 70px;
  max-width: 100px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}

.mat-cell-small {
  min-width: 70px;
  max-width: 100px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}

.mat-cell-large {
  min-width: 100px;
  max-width: 150px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}

.mat-cell-xlarge {
  min-width: 180px;
  max-width: 250px;
  box-sizing: border-box;
  font-size: 12px;
  color: #263238;
}

.add-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mat-header-cell{

  color: aliceblue;
}

.footer{
  padding: 2%;
  width: 100%;
  overflow: hidden;
  float: left;
}

h1  {
  padding: 2%;
}

h3{
  padding: 2%;
}
