
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Gmk Knits</title>
<link href = "Stylesheet/index.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
function myFunction() {
  var x = document.getElementById("pass");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</head>
<body>

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
					<img src="Stylesheet/Images/brand-logo.png" class="brand_logo" alt="Logo"/>
					</div>
				</div>
        <div class="container  justify-content-center">
          <div class="brand_name">
          <h3 class="text-secondary mb-2">GMK KNITS</h3>
        </div>
      </div>
				<div class="d-flex justify-content-center form_container">

					<form class="form" action="Login" >

						<div class="input-group mb-3">

							<div class="input-group-append">

								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							<input type="text" name="userid" class="form-control input_user" value="" placeholder="username">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
                <input type="password" id="pass" name="password" class="form-control input_pass" value="" placeholder="password">
    				</div>
						<div class="form-group mt-3">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" onclick="myFunction()" id="customControlInline">
								<label class="custom-control-label checkboxlabel text-secondary" for="customControlInline">Show password</label>
							</div>
						</div>
							<div class="form-group">

				<button type="submit" name="button" class="btn login_btn">Login</button>
				</div>
			<!--	<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="#" class="ml-2">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>
				</div>  -->
					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>
